<% provide(:title, @event.title) %>

<div class="mb-4">
    <h1 class="display-4"><%= @event.title %></h1>
    <%= event_image(@event) %>
</div>
<div id="event-<%= @event.id %>" class="event show row">
    <div class="col-6">
        <h2>Description</h2>
        <%= @event.description %>        
    </div>
    <div class="col-6">
        <h2>Info</h2>
        <table class="table info">
            <tr>
                <th>When</th>
                <td><%= @event.formatted_date %></td>
            </tr>
            <tr>
                <th>Where</th>
                <td><%= @event.location %></td>
            </tr>
            <tr>
                <th>Contact</th>
                <td><%= link_to @event.creator.email, @event %></td>
            </tr>
        </table>
    </div>
    <hr class="mb-4" />
    <div class="col-6">
        <%= render 'shared/attendance' %>
    </div>
    <div class="col-6">
        <%= render 'shared/invite_users' if current_user == @event.creator %>
    </div>
</div>
