<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="event_invites" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Invites
        <span class="badge badge-pill badge-dark text-light"><%= current_user.invitations.count %></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="event_invites">
        <%= render current_user.invitations %>
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="account_links" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
    </a>
    <div class="dropdown-menu" aria-labelledby="account_links">
        <%= link_to 'Create Event', new_event_path, class: 'dropdown-item' %>
        <%= link_to 'Profile', user_path(current_user), class: 'dropdown-item' %>
        <%= link_to 'Logout', logout_path, class: 'dropdown-item' %>
    </div>
</li>
